---
titleOfThisPage: "Blog"
---
<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr/>
      <h2 class="intro-text text-center">Company
        <strong>blog</strong>
      </h2>
      <hr/>
    </div>

    {{#each (postsJSON posts)}}
      <div class="col-lg-12 text-center {{#gt @index 4}}hidden{{/gt}} postExcerpt">
        <img class="img-responsive img-border img-full" src="{{pathAssets}}/img/{{this.data.headerImage}}" alt="Imagen de {{this.data.titleOfThisPage}}">
        <h2>{{this.data.titleOfThisPage}}
          <br/>
          <small>
            {{formatDate this.data.posted "%d"}} de 
            {{monthSpanish (formatDate this.data.posted "%m")}} de 
            {{formatDate this.data.posted "%Y"}}
          </small>
        </h2>
        <p>{{this.content}} [...]</p>
        <a href="{{pathPosts}}{{this.dest}}" class="btn btn-default btn-lg">Read More</a>
        <hr/>
      </div>
    {{/each}}

    <div class="col-lg-12 text-center">
      <ul class="pager">
        <li id="previous" class="previous"><a href="#">&larr; Newer</a></li>
        <li id="next" class="next"><a href="#">Older &rarr;</a></li>
      </ul>
    </div>
  </div>
</div>